{
	"presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": [
          // wathever you need to support
          "last 2 versions"
        ]
      }
    ],
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop",
  ],
  "plugins": [
    ["emotion"]
  ]
}
