// --- COLOR ---

@color-black: #444;
@color-white: #fff;

@color-gray4: #666;
@color-gray5: #999;
@color-gray6: #F5F5F5; // whitesmoke
@color-gray: #F5F5F5; // whitesmoke
@color-gray9: #fcfcfc;

@color-blue: #4682B4; // steelblue
@color-purple: #483D8B; // darkslateblue
@color-green: #3CB371; // mediumseagreen


@header-bg: @color-white;
@footer-bg: @color-black;
@text-color: @color-black;

// --- PATHS ---

@images: '../../images';

// --- SIZES ---

@responsive-size-tablet: 550px;
@responsive-size-desktop: 960px;

// --- MIXINS ---

.section() {
    padding: 5rem 0;

    @media screen and (min-width: @responsive-size-tablet) {
        padding: 10rem 0;
    }
}

.section-header() {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6rem;
}

.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform:    rotate(@deg);
    -ms-transform:     rotate(@deg);
    -o-transform:      rotate(@deg);
}

.transition (@parameter) {
    -webkit-transition: @parameter;
    transition: @parameter;
}

// --- GENERAL ---

#mapCanvas {
    .gmnoprint,
    .gmnoscreen,
    .gm-style-cc,
    .gm-style a {
        display: none !important;
    }
}