.page {
    .section;

    &__content {
        @media screen and (min-width: @responsive-size-tablet) {
            max-width: 80%;
            margin: 0 auto;
        }
        @media screen and (min-width: @responsive-size-desktop) {
            max-width: 65%;
        }
    }

    a:not(.button) {
        border-bottom: 1px dotted @color-gray5;

        &, &:hover {
            color: @text-color;
            text-decoration: none;
        }
        &:hover {
            border-bottom-style: solid;
        }
    }

    hr {
        margin: 5rem auto;
    }

    figure {
        margin: 2em 0;

        img {
            width: 100%;
        }

        figcaption {
            font-size: .875em;
            color: @color-gray5;
        }
    }

    ol {
        padding-left: 3rem;
        list-style-position: initial;
    }

    li > ul {
        list-style-type: disc;
    }

    blockquote {
        padding: 0 15px;
        border-left: 4px solid @color-gray5;

        p {
            margin: 0;
            font-size: 1.3em;
            font-style: italic;
        }

        .author {
            font-size: .75em;
            color: @color-gray5;

            &:before {
                content: "\2014 ";
            }
        }
    }
}
