.site-footer {
    padding: 5rem 0;
    background-color: @color-black;

    &__links {
        text-align: center;
        padding: 2rem 0;

        @media screen and (min-width: 960px) {
            float: left;
        }
    }

    &__link {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .2rem;

        line-height: 5rem;
        display: block;

        &, &:hover {
            color: @color-white;
        }

        @media screen and (min-width: 550px) {
            display: inline-block;
            margin-left: 2rem;

            &:first-of-type {
                margin-left: 0;
            }

            &, &:hover {
                text-decoration: none;
            }
        }
    }

    &__logo {
        width: 60px;
        height: 80px;
        display: block;
        overflow: hidden;
        text-indent: -1000px;
        margin: 0 auto;

        background-image: url('../images/faf_logo_white.svg');
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 60px;

        @media screen and (min-width: 960px) {
            float: right;
        }
    }
}
